.ec-toggle {
    width: 100%;
    height: 100%;
    background-color: var(--ec-inactive-hex);
    border-radius: 9999px;
    box-shadow: var(--ec-component-shadow);
    transition: background-color 200ms linear;
    padding: .5em;
    cursor: pointer;

    &.active {
        background-color: var(--ec-accent-hex);

        & > .track {
            flex-direction: row-reverse;
        }
    }

    & > .track {
        width: 100%;
        height: 100%;
        display: flex;

        & > .handle {
            background-color: var(--ec-bg-hex);
            border-radius: 9999px;
        }
    }
}